@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@source "./src/**/*.{ts,tsx,js}";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.1s ease-in;
}

html,
:host {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;;
  color: white;
  line-height: 1.5;
  tab-size: 4;
  -moz-tab-size: 4;

}

:root {
  --default-font-family: 'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  line-height: inherit;
}

.bg-background {
  background-color: rgb(10, 10, 10);
}
